$white: rgb(250, 250, 250);
$darkGrey: rgb(54, 59, 65);
$grey: rgb(85, 85, 85);
$colors: (
  white: rgb(275, 275, 275)
);

// Breakpoints
@mixin for-tablet {
  @media (min-width: 450px) and (max-width: 800px) {
    @content;
  }
}
@mixin for-desktop {
  @media (min-width: 800px) {
    @content;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0.05;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@mixin section() {
  background: $darkGrey;
  width: 78%;
  margin: auto;
  padding-bottom: 1.5rem;
  animation: fade-in 0.6s linear;

  @include for-tablet() {
    height: 100%;
    margin-bottom: 1.5rem;
    // border: 5px solid green;
  }

  @include for-desktop() {
    width: 55%;
    height: 60vh;
    border: 2.5px solid rgb(35, 39, 42);
  }

  .top {
    display: flex;
    justify-content: flex-end;
    color: $white;
    @include for-desktop() {
      // margin-bottom: 0.7rem;
    }

    a {
      position: absolute;
      margin: 0.75rem -0.75rem;
      font-weight: bold;
      text-decoration: none;
      // color: rgb(206, 38, 38);
      color: rgb(23, 24, 26);
      font-size: 1.75rem;
      width: 1.75rem;
      padding: 0.125rem;
      &:hover {
        background: $grey;
        border-radius: 50%;
      }
      @include for-tablet() {
        font-size: 1.65rem;
        width: 1.65rem;
        margin: 0.4rem -0.5rem;
      }
      @include for-desktop() {
        font-size: 1.85rem;
        width: 1.85rem;
        margin: 0.4rem -0.5rem;
      }
    }
    h2 {
      margin: 0.75rem auto 0.35rem;
      // border-bottom: 2px solid $white;
      @include for-tablet() {
        font-size: 2.2rem;
        margin-top: 1.2rem;
      }
      @include for-desktop() {
        font-size: 2.2rem;
        text-decoration: underline;
        // font-style:
      }
    }
  }
  .bottom {
    @include for-desktop() {
      display: flex;
      width: 90%;
      margin: 1rem auto;
      justify-content: space-around;
    }
    // todo set max width
    img {
      margin-top: 2vh;
      width: 80%;
      height: 30%;
      @include for-tablet() {
        width: 65%;
        height: 50vh;
        border: 2px groove $darkGrey;
      }
      @include for-desktop() {
        width: 40%;
        height: 35vh;
        border: 2px groove $darkGrey;
      }
    }
    p {
      padding: 0 1rem;
      color: $white;
      font-size: 0.85rem;
      line-height: 1.35rem;
      letter-spacing: 0.085rem;
      @include for-tablet() {
        width: 80%;
        margin: 2rem auto;
      }
      @include for-desktop() {
        margin: auto;
        width: 50%;
        justify-content: space-around;
        text-align: left;
      }
    }
    a {
      color: rgb(30, 151, 199);
      text-decoration: none;
    }
  }
}

.App {
  text-align: center;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding-bottom: 10vh;
  @include for-desktop {
  }

  .overlay {
    background-image: url("../images/overlay.png");
    background-size: cover;
    width: 100%;
    height: 85%;
    padding-top: 15vh;
    padding-bottom: 10vh;
    @include for-tablet() {
      // padding-top: 10vh;
      // height: 100%;
    }
    @include for-desktop() {
      padding-top: 12vh;
      height: 88vh;
    }
  }
}
.home {
  animation: fade-in 1.2s linear;
  .header {
    border-top: 2px solid $white;
    border-bottom: 2px solid $white;
    width: 90%;
    margin: 10vh auto 0.5rem;
    @include for-tablet() {
      width: 85%;
      margin-bottom: 0;
    }
    @include for-desktop() {
      width: 93%;
      margin: auto;
    }
  }
}
h1 {
  //todo change font
  font-style: italic;
  font-size: 2rem;
  color: $white;
  @include for-tablet() {
    font-size: 3rem;
  }
  @include for-desktop() {
    font-size: 3.2rem;
  }
}
p {
  @include for-desktop() {
    color: #161616;
    margin: 0.75rem auto;
    margin-bottom: 1.5rem;
    width: 90%;
  }
}
nav {
  display: flex;
  flex-direction: column;
  // border: 2px solid $white;
  // border-top: none;
  width: 25%;
  margin: auto;

  @include for-tablet() {
    flex-direction: row;
    width: 65%;
    justify-content: space-around;
    margin-top: 0;
    border: 0.75px solid $white;
    border-right: 2px solid $white;
    border-left: 2px solid $white;
    border-top: none;
  }
  @include for-desktop() {
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
    margin-top: 1rem;
  }

  a {
    padding: 0.35rem;
    text-decoration: none;
    color: $white;
    &:hover {
      color: $grey;
    }

    @include for-tablet() {
      border: 1.25px solid $white;
      border-top: 0.5px solid $white;
      width: 25%;
      font-size: 1.2rem;
      // font-weight: bold;
    }
    @include for-desktop() {
      width: 25%;
      font-size: 1.3rem;
    }
  }
}

.intro {
  @include section;
}

.work {
  @include section;
  border: 5px solid $darkGrey;
}

.about {
  @include section;

  img {
    border-radius: 3%;
  }
}

.contact {
  @include section;
  background: rgb(78, 78, 78);
  border: 3px solid black;
  border-radius: 1%;
  @include for-desktop() {
    height: 75vh;
  }

  .top h2 {
    margin-bottom: 1.7rem;
    @include for-tablet() {
      margin-bottom: 1.25rem;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    label {
      margin: 0.35rem auto;
      color: $white;
      width: 85%;
      text-align: left;
      font-size: 0.95rem;
      @include for-tablet() {
        width: 80%;
        font-size: 1.2rem;
        // border: 2px solid black;
        // margin-left: 0.125rem;
      }
    }
    input {
      background: $darkGrey;
      color: $white;
      padding: 0.35rem;
      width: 80%;
      margin: 0.25rem auto 0.5rem;
      border: 2px inset $white;
      @include for-tablet() {
        // border: 2px solid red;
        margin-bottom: 1rem;
        padding: 0.5rem;
      }
    }
    #message {
      background: $darkGrey;
      color: $white;
      width: 80%;
      padding: 0.35rem;
      margin: 0.25rem auto 0.5rem;
      border: 2px inset $white;
      @include for-tablet() {
        margin-bottom: 1.5rem;
      }
    }
    .actions {
      display: flex;
      width: 80%;
      margin: 0.5rem auto;
      @include for-tablet() {
        margin-bottom: 0;
      }
      input {
        width: 44%;
        border: 2px ridge $white;
        border-radius: 3%;
        &:hover {
          background: $grey;
        }
      }
    }
  }
  .icons {
    display: flex;
    width: 80%;
    margin: 1.25rem auto 1rem;
    justify-content: space-around;
    @include for-tablet() {
      margin: 1.35rem auto;
    }
    a {
      margin: 0 2%;
      padding: 0.125rem;
      border-radius: 50%;
      &:hover {
        background: rgb(189, 15, 96);
      }
    }
  }
}
