@-webkit-keyframes fade-in {
  0% {
    opacity: 0.05;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0.05;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.App {
  text-align: center;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.App .particles-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
}

.home {
  -webkit-animation: fade-in 1.2s linear;
          animation: fade-in 1.2s linear;
  padding-top: 10%;
}

.home .header {
  border-top: 2px solid #ebebeb;
  border-bottom: 2px solid #ebebeb;
  width: 90%;
  margin: 10vh auto 0.5rem;
}

@media (min-width: 450px) and (max-width: 800px) {
  .home .header {
    width: 85%;
    margin-bottom: 0;
  }
}

@media (min-width: 800px) {
  .home .header {
    width: 93%;
    margin: auto;
  }
}

h1 {
  font-style: italic;
  font-size: 2rem;
  color: #c0380f;
}

@media (min-width: 450px) and (max-width: 800px) {
  h1 {
    font-size: 3rem;
  }
}

@media (min-width: 800px) {
  h1 {
    font-size: 3.2rem;
  }
}

@media (min-width: 800px) {
  p {
    color: #ebebeb;
    margin: 0.75rem auto;
    margin-bottom: 1.5rem;
    width: 60%;
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
  margin: auto;
  z-index: 20;
}

@media (min-width: 450px) and (max-width: 800px) {
  nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 65%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 0;
    border: 0.75px solid #ebebeb;
    border-right: 2px solid #ebebeb;
    border-left: 2px solid #ebebeb;
    border-top: none;
  }
}

@media (min-width: 800px) {
  nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 50%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 1rem;
  }
}

nav a {
  padding: 0.35rem;
  text-decoration: none;
  color: #ebebeb;
}

nav a:hover {
  color: #c0380f;
}

@media (min-width: 450px) and (max-width: 800px) {
  nav a {
    border: 1.25px solid #ebebeb;
    border-top: 0.5px solid #ebebeb;
    width: 25%;
    font-size: 1.2rem;
  }
}

@media (min-width: 800px) {
  nav a {
    width: 25%;
    font-size: 1.3rem;
  }
}

.intro {
  background: #252525;
  width: 78%;
  margin: 7.25% auto;
  padding-bottom: 1.5rem;
  -webkit-animation: fade-in 0.6s linear;
          animation: fade-in 0.6s linear;
}

@media (min-width: 450px) and (max-width: 800px) {
  .intro {
    height: 100%;
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 800px) {
  .intro {
    width: 55%;
    height: 60vh;
    border: 2.5px solid #23272a;
  }
}

.intro .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #ebebeb;
}

.intro .top a {
  position: absolute;
  margin: 0.75rem -0.75rem;
  font-weight: bold;
  text-decoration: none;
  color: grey;
  font-size: 1.75rem;
  width: 1.75rem;
  padding: 0.125rem;
}

.intro .top a:hover {
  color: #c0380f;
}

@media (min-width: 450px) and (max-width: 800px) {
  .intro .top a {
    font-size: 1.65rem;
    width: 1.65rem;
    margin: 0.4rem -0.5rem;
  }
}

@media (min-width: 800px) {
  .intro .top a {
    font-size: 1.85rem;
    width: 1.85rem;
    margin: 0.4rem -0.5rem;
  }
}

.intro .top h2 {
  margin: 0.75rem auto 0.35rem;
}

@media (min-width: 450px) and (max-width: 800px) {
  .intro .top h2 {
    font-size: 2.2rem;
    margin-top: 1.2rem;
  }
}

@media (min-width: 800px) {
  .intro .top h2 {
    font-size: 2.2rem;
  }
}

@media (min-width: 800px) {
  .intro .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    margin: 1rem auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.intro .bottom img {
  margin-top: 2vh;
  width: 80%;
  height: 30%;
}

@media (min-width: 450px) and (max-width: 800px) {
  .intro .bottom img {
    width: 65%;
    height: 50vh;
    border: 2px groove #252525;
  }
}

@media (min-width: 800px) {
  .intro .bottom img {
    width: 40%;
    height: 35vh;
    border: 2px groove #252525;
  }
}

.intro .bottom p {
  padding: 0 1rem;
  color: #ebebeb;
  font-size: 0.85rem;
  line-height: 1.35rem;
  letter-spacing: 0.085rem;
}

@media (min-width: 450px) and (max-width: 800px) {
  .intro .bottom p {
    width: 80%;
    margin: 2rem auto;
  }
}

@media (min-width: 800px) {
  .intro .bottom p {
    margin: auto;
    width: 50%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: left;
  }
}

.intro .bottom a {
  color: #1e97c7;
  text-decoration: none;
}

.work {
  background: #252525;
  width: 78%;
  margin: 7.25% auto;
  padding-bottom: 1.5rem;
  -webkit-animation: fade-in 0.6s linear;
          animation: fade-in 0.6s linear;
  border: 5px solid #252525;
}

@media (min-width: 450px) and (max-width: 800px) {
  .work {
    height: 100%;
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 800px) {
  .work {
    width: 55%;
    height: 60vh;
    border: 2.5px solid #23272a;
  }
}

.work .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #ebebeb;
}

.work .top a {
  position: absolute;
  margin: 0.75rem -0.75rem;
  font-weight: bold;
  text-decoration: none;
  color: grey;
  font-size: 1.75rem;
  width: 1.75rem;
  padding: 0.125rem;
}

.work .top a:hover {
  color: #c0380f;
}

@media (min-width: 450px) and (max-width: 800px) {
  .work .top a {
    font-size: 1.65rem;
    width: 1.65rem;
    margin: 0.4rem -0.5rem;
  }
}

@media (min-width: 800px) {
  .work .top a {
    font-size: 1.85rem;
    width: 1.85rem;
    margin: 0.4rem -0.5rem;
  }
}

.work .top h2 {
  margin: 0.75rem auto 0.35rem;
}

@media (min-width: 450px) and (max-width: 800px) {
  .work .top h2 {
    font-size: 2.2rem;
    margin-top: 1.2rem;
  }
}

@media (min-width: 800px) {
  .work .top h2 {
    font-size: 2.2rem;
  }
}

@media (min-width: 800px) {
  .work .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    margin: 1rem auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.work .bottom img {
  margin-top: 2vh;
  width: 80%;
  height: 30%;
}

@media (min-width: 450px) and (max-width: 800px) {
  .work .bottom img {
    width: 65%;
    height: 50vh;
    border: 2px groove #252525;
  }
}

@media (min-width: 800px) {
  .work .bottom img {
    width: 40%;
    height: 35vh;
    border: 2px groove #252525;
  }
}

.work .bottom p {
  padding: 0 1rem;
  color: #ebebeb;
  font-size: 0.85rem;
  line-height: 1.35rem;
  letter-spacing: 0.085rem;
}

@media (min-width: 450px) and (max-width: 800px) {
  .work .bottom p {
    width: 80%;
    margin: 2rem auto;
  }
}

@media (min-width: 800px) {
  .work .bottom p {
    margin: auto;
    width: 50%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: left;
  }
}

.work .bottom a {
  color: #1e97c7;
  text-decoration: none;
}

.about {
  background: #252525;
  width: 78%;
  margin: 7.25% auto;
  padding-bottom: 1.5rem;
  -webkit-animation: fade-in 0.6s linear;
          animation: fade-in 0.6s linear;
}

@media (min-width: 450px) and (max-width: 800px) {
  .about {
    height: 100%;
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 800px) {
  .about {
    width: 55%;
    height: 60vh;
    border: 2.5px solid #23272a;
  }
}

.about .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #ebebeb;
}

.about .top a {
  position: absolute;
  margin: 0.75rem -0.75rem;
  font-weight: bold;
  text-decoration: none;
  color: grey;
  font-size: 1.75rem;
  width: 1.75rem;
  padding: 0.125rem;
}

.about .top a:hover {
  color: #c0380f;
}

@media (min-width: 450px) and (max-width: 800px) {
  .about .top a {
    font-size: 1.65rem;
    width: 1.65rem;
    margin: 0.4rem -0.5rem;
  }
}

@media (min-width: 800px) {
  .about .top a {
    font-size: 1.85rem;
    width: 1.85rem;
    margin: 0.4rem -0.5rem;
  }
}

.about .top h2 {
  margin: 0.75rem auto 0.35rem;
}

@media (min-width: 450px) and (max-width: 800px) {
  .about .top h2 {
    font-size: 2.2rem;
    margin-top: 1.2rem;
  }
}

@media (min-width: 800px) {
  .about .top h2 {
    font-size: 2.2rem;
  }
}

@media (min-width: 800px) {
  .about .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    margin: 1rem auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.about .bottom img {
  margin-top: 2vh;
  width: 80%;
  height: 30%;
}

@media (min-width: 450px) and (max-width: 800px) {
  .about .bottom img {
    width: 65%;
    height: 50vh;
    border: 2px groove #252525;
  }
}

@media (min-width: 800px) {
  .about .bottom img {
    width: 40%;
    height: 35vh;
    border: 2px groove #252525;
  }
}

.about .bottom p {
  padding: 0 1rem;
  color: #ebebeb;
  font-size: 0.85rem;
  line-height: 1.35rem;
  letter-spacing: 0.085rem;
}

@media (min-width: 450px) and (max-width: 800px) {
  .about .bottom p {
    width: 80%;
    margin: 2rem auto;
  }
}

@media (min-width: 800px) {
  .about .bottom p {
    margin: auto;
    width: 50%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: left;
  }
}

.about .bottom a {
  color: #1e97c7;
  text-decoration: none;
}

.about img {
  border-radius: 3%;
}

.contact {
  background: #252525;
  width: 78%;
  margin: 7.25% auto;
  padding-bottom: 1.5rem;
  -webkit-animation: fade-in 0.6s linear;
          animation: fade-in 0.6s linear;
  margin-top: 5%;
  border: 3px solid black;
  border-radius: 1%;
}

@media (min-width: 450px) and (max-width: 800px) {
  .contact {
    height: 100%;
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 800px) {
  .contact {
    width: 55%;
    height: 60vh;
    border: 2.5px solid #23272a;
  }
}

.contact .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #ebebeb;
}

.contact .top a {
  position: absolute;
  margin: 0.75rem -0.75rem;
  font-weight: bold;
  text-decoration: none;
  color: grey;
  font-size: 1.75rem;
  width: 1.75rem;
  padding: 0.125rem;
}

.contact .top a:hover {
  color: #c0380f;
}

@media (min-width: 450px) and (max-width: 800px) {
  .contact .top a {
    font-size: 1.65rem;
    width: 1.65rem;
    margin: 0.4rem -0.5rem;
  }
}

@media (min-width: 800px) {
  .contact .top a {
    font-size: 1.85rem;
    width: 1.85rem;
    margin: 0.4rem -0.5rem;
  }
}

.contact .top h2 {
  margin: 0.75rem auto 0.35rem;
}

@media (min-width: 450px) and (max-width: 800px) {
  .contact .top h2 {
    font-size: 2.2rem;
    margin-top: 1.2rem;
  }
}

@media (min-width: 800px) {
  .contact .top h2 {
    font-size: 2.2rem;
  }
}

@media (min-width: 800px) {
  .contact .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    margin: 1rem auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.contact .bottom img {
  margin-top: 2vh;
  width: 80%;
  height: 30%;
}

@media (min-width: 450px) and (max-width: 800px) {
  .contact .bottom img {
    width: 65%;
    height: 50vh;
    border: 2px groove #252525;
  }
}

@media (min-width: 800px) {
  .contact .bottom img {
    width: 40%;
    height: 35vh;
    border: 2px groove #252525;
  }
}

.contact .bottom p {
  padding: 0 1rem;
  color: #ebebeb;
  font-size: 0.85rem;
  line-height: 1.35rem;
  letter-spacing: 0.085rem;
}

@media (min-width: 450px) and (max-width: 800px) {
  .contact .bottom p {
    width: 80%;
    margin: 2rem auto;
  }
}

@media (min-width: 800px) {
  .contact .bottom p {
    margin: auto;
    width: 50%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: left;
  }
}

.contact .bottom a {
  color: #1e97c7;
  text-decoration: none;
}

@media (min-width: 800px) {
  .contact {
    height: 75vh;
  }
}

.contact .top h2 {
  margin-bottom: 1.7rem;
}

@media (min-width: 450px) and (max-width: 800px) {
  .contact .top h2 {
    margin-bottom: 1.25rem;
  }
}

.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact form label {
  margin: 0.35rem auto;
  color: #ebebeb;
  width: 85%;
  text-align: left;
  font-size: 0.95rem;
}

@media (min-width: 450px) and (max-width: 800px) {
  .contact form label {
    width: 80%;
    font-size: 1.2rem;
  }
}

.contact form input {
  background: #323232;
  color: #ebebeb;
  padding: 0.35rem;
  width: 80%;
  margin: 0.25rem auto 0.5rem;
  border: 2px inset #ebebeb;
}

@media (min-width: 450px) and (max-width: 800px) {
  .contact form input {
    margin-bottom: 1rem;
    padding: 0.5rem;
  }
}

.contact form #message {
  background: #252525;
  color: #ebebeb;
  width: 80%;
  padding: 0.35rem;
  margin: 0.25rem auto 0.5rem;
  border: 2px inset #ebebeb;
}

@media (min-width: 450px) and (max-width: 800px) {
  .contact form #message {
    margin-bottom: 1.5rem;
  }
}

.contact form .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 0.5rem auto;
}

@media (min-width: 450px) and (max-width: 800px) {
  .contact form .actions {
    margin-bottom: 0;
  }
}

.contact form .actions input {
  width: 44%;
  border: 2px ridge #ebebeb;
  border-radius: 3%;
}

.contact form .actions input:hover {
  color: #c0380f;
  border: 2px inset #c0380f;
}

.contact .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 1.25rem auto 1rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 450px) and (max-width: 800px) {
  .contact .icons {
    margin: 1.35rem auto;
  }
}

.contact .icons a {
  margin: 0 2%;
  padding: 0.125rem;
  border-radius: 50%;
}

.contact .icons a:hover {
  background: #bd0f60;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
/*# sourceMappingURL=App.css.map */